In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("bnpl.csv")

In [5]:
df.shape

(1048575, 29)

In [7]:
df.head()

,loan_amnt,loan_term,int_rate,monthly_payment,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,...,mort_acc,num_accts_120_pd,pub_rec_bankruptcies,tax_liens,credit_limit,total_bal_ex_mort,hardship_flag,disbursement_method,debt_settlement_flag,loan_status
0,2500,36 months,13.56,84.92,C1,Chef,10+ years,RENT,55000.0,Not Verified,...,0,0,1,0,60124,16901,N,Cash,N,Current
1,30000,60 months,18.94,777.23,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,...,3,0,1,0,372872,99468,N,Cash,N,Current
2,5000,36 months,17.97,180.69,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,...,2,0,0,0,136927,11749,N,Cash,N,Current
3,4000,36 months,18.94,146.51,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,...,3,0,0,0,385183,36151,N,Cash,N,Current
4,30000,60 months,16.14,731.78,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,...,2,0,0,0,157548,29674,N,Cash,N,Current

In [9]:
df.columns

Index(['loan_amnt', 'loan_term', 'int_rate', 'monthly_payment', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'loan_purpose', 'addr_state', 'total_dti',
       'delinq_2yrs', 'open_acc', 'application_type', 'cur_acct_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'mort_acc', 'num_accts_120_pd',
       'pub_rec_bankruptcies', 'tax_liens', 'credit_limit',
       'total_bal_ex_mort', 'hardship_flag', 'disbursement_method',
       'debt_settlement_flag', 'loan_status'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 29 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   loan_amnt             1048575 non-null  int64
 1   loan_term             1048575 non-null  object
 2   int_rate              1048575 non-null  float64
 3   monthly_payment       1048575 non-null  float64
 4   sub_grade             1048575 non-null  object
 5   emp_title             958131 non-null   object
 6   emp_length            971110 non-null   object
 7   home_ownership        1048575 non-null  object
 8   annual_inc            1048575 non-null  float64
 9   verification_status   1048575 non-null  object
 10  loan_purpose          1048575 non-null  object
 11  addr_state            1048575 non-null  object
 12  total_dti             1047378 non-null  float64
 13  delinq_2yrs           1048575 non-null  int64
 14  open_acc              1048575 non-null  int64
 15  application_type      1048575 non-null  object
 16  cur_acct_delinq       1048575 non-null  int64
 17  tot_coll_amt          1048575 non-null  int64
 18  tot_cur_bal           1048575 non-null  int64
 19  mort_acc              1048575 non-null  int64
 20  num_accts_120_pd      1048575 non-null  int64
 21  pub_rec_bankruptcies  1048575 non-null  int64
 22  tax_liens             1048575 non-null  int64
 23  credit_limit          1048575 non-null  int64
 24  total_bal_ex_mort     1048575 non-null  int64
 25  hardship_flag         1048575 non-null  object
 26  disbursement_method   1048575 non-null  object
 27  debt_settlement_flag  1048575 non-null  object
 28  loan_status           1048575 non-null  object
dtypes: float64(4), int64(12), object(13)
memory usage: 232.0+ MB

In [15]:
df.isnull().sum()

loan_amnt                   0
loan_term                   0
int_rate                    0
monthly_payment             0
sub_grade                   0
emp_title               90444
emp_length              77465
home_ownership              0
annual_inc                  0
verification_status         0
loan_purpose                0
addr_state                  0
total_dti                1197
delinq_2yrs                 0
open_acc                    0
application_type            0
cur_acct_delinq             0
tot_coll_amt                0
tot_cur_bal                 0
mort_acc                    0
num_accts_120_pd            0
pub_rec_bankruptcies        0
tax_liens                   0
credit_limit                0
total_bal_ex_mort           0
hardship_flag               0
disbursement_method         0
debt_settlement_flag        0
loan_status                 0
dtype: int64